.aside {
    width: 200px;
    height: 500px;
    background-color: lightblue;
    padding: 20px;
    margin-left: 0;
    border-right: 2px solid white;
    margin-top: 30%;
}

ul li {
    color: red;
}

main {
    display: flex;
}
