.aside {
    display: flex;
    justify-content: left;
    width: 200px;
    height: 85vh;
    background-color: mediumpurple;
    padding: 20px;
}

.aside ul li a{
    color: black;
    font-weight: 200;
    list-style-type: none;
}
