main {
    display: flex;
    width: 100%;
    border-bottom: 3px solid lime;
    flex-direction: column;
    gap: 20px;

}

nav, ul{
    list-style-type: none;
    display: flex;
    justify-content: right;
}
