header {
  display: flex;
  width: 100vw;
  height: 17vh;
  justify-content: space-between;
  background-color: var(--jmuPurple);
  align-items: center;
  position: relative;
}

.title {
  font-size: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

header ul li {
  list-style-type: none;
}

/* Nav icons */
.list-icons {
  display: flex;
  gap: 25px;
}

.logo:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.settings {
  padding-right: 15px;
}

.graph {
  filter: brightness(0) invert(1);
}

.graph:hover {
  cursor: pointer;
  transform: scale(1.1);
}