.block {
  width: 3em;
  height: 3em;
  border-radius: 15%;
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
}

.block p {
  font-size: 10px;
  margin: 0;
  text-align: center;
}

.roomContainer {
  padding-top: 10px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: flex-start;
}

.room-seats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

.row {
  border: 3px solid black;
}

.col {
  display: flex;
  flex: 1 1 0;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.board {
  color: gray;
  background-color: white;
  align-self: center;
  justify-content: center;
}

.doorway {
  background-color: saddlebrown;
}

.doorway p {
  color: white;
  margin: 0;
}

.seat-1 {
  background-color: var(--isEmpty);
}

.seat-2 {
  background-color: var(--isIdle);
}

.seat-3 {
  background-color: var(--isFull);
}

p {
  /* font-weight: 400; */
  font-size: 12px;
}
