.block {
  width: 75px;
  height: 75px;
  border: 1px solid var(--slateGray);
  border-radius: 15%;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

.roomContainer {
  border: 2px dashed red;
  justify-content: center;
  align-items: center;
  min-width: 1083px;
  gap: 10px;
}

.room-seats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

.row {
  border: 2px solid black;
}

.aisle {
  width: 40px;
}

.col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.seat-1 {
  background-color: var(--isEmpty);
}

.seat-2 {
  background-color: var(--isIdle);
}

.seat-3 {
  background-color: var(--isFull);
}

p {
  /* font-weight: 400; */
  font-size: 12px;
}
