html {
    background-color: lightgray;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    /*overflow-x: hidden;*/
    /*overflow-y: hidden;*/
}

.top{
    display: flex;
}

.center {
    display: flex;
}